# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects 
*.so
*.so.*

# autoconf
/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.h.in~
/config.sub
/config.h
/config.log
/config.status
/configure
/configure.scan
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/test-driver

# M4
config/libtool.m4
config/ltoptions.m4
config/ltsugar.m4
config/ltversion.m4
config/lt~obsolete.m4
autom4te.cache

# makefiles
Makefile
Makefile.in

# directories
.deps/
.libs/

# compiled executeables
3rdparty/vsib_proxy
3rdparty/vsib_recv
3rdparty/vsib_send
Management/psrdada_cflags
Management/psrdada_ldflags
apsr/config/apsr.cfg
apsr/config/dspsr.giant
apsr/config/dspsr.singleF
apsr/src/apsr_dbudp
apsr/src/apsr_udpdb
apsr/src/apsr_udpdisk
apsr/src/apsr_udpgenerator
apsr/src/apsr_udpheader
apsr/src/bat_to_utc
apsr/src/test_boardudp
bpsr/config/bpsr.cfg
bpsr/fil_edit/fil_edit
bpsr/mon/plot4mon
bpsr/rfi/dgesvd_aux_p
bpsr/src/bpsr_bramplot
bpsr/src/bpsr_bramplot_cross
bpsr/src/bpsr_bramplot_hist
bpsr/src/bpsr_dadadiskareaplot
bpsr/src/bpsr_dadadiskplot
bpsr/src/bpsr_dbavg
bpsr/src/bpsr_dbdisk
bpsr/src/bpsr_dbmon
bpsr/src/bpsr_dbnic
bpsr/src/bpsr_dbplot
bpsr/src/bpsr_dbscrunchdb
bpsr/src/bpsr_diskplot
bpsr/src/bpsr_fpdiskplot
bpsr/src/bpsr_nicdb
bpsr/src/bpsr_udpdb
bpsr/src/bpsr_udpdisk
bpsr/src/bpsr_udpgenerator
bpsr/src/bpsr_udpheader
bpsr/src/bpsr_udpplot
bpsr/src/ibob_telnet
bpsr/src/multibob_server
bpsr/swinproc/dedisp/dedisperse_all
caspsr/config/caspsr.cfg
caspsr/src/bibob_start_observation
caspsr/src/bibob_terminal
caspsr/src/caspsr_dbdecidb
caspsr/src/caspsr_dbib
caspsr/src/caspsr_dbnum
caspsr/src/caspsr_dbnum_demux
caspsr/src/caspsr_disknumcheck
caspsr/src/caspsr_disknumplot
caspsr/src/caspsr_ibdb
caspsr/src/caspsr_pwc_ibdb
caspsr/src/caspsr_udpNdb
caspsr/src/caspsr_udpNdebug
caspsr/src/caspsr_udpNnic
caspsr/src/caspsr_udpdb
caspsr/src/caspsr_udpfftplot
caspsr/src/caspsr_udpgen
caspsr/src/caspsr_udpheader
caspsr/src/caspsr_udptester
caspsr/src/caspsr_udpthreaded
caspsr/src/caspsr_udptsplot
caspsr/src/mulbibob_server
examples/src/dada_example_client_writer
examples/src/dada_example_writer
gmrt/src/gmrt_correlator
gmrt/src/gmrt_delay
gmrt/src/gmrt_delay_test
gmrt/src/gmrt_udpdb
gmrt/src/gmrt_udpdb_multi
gmrt/src/gmrt_udpheader
gmrt/src/gmrt_udpheader_multi
hispec/config/hispec.cfg
leda/src/leda_dbupdb_ipp
leda/src/leda_dbupdb_lookup
leda/src/leda_udpdb
leda/src/leda_udpdb_thread
leda/src/leda_udpgen
leda/src/leda_udptest
mopsr/config/mopsr.cfg
mopsr/src/caspsr_udpcorr
mopsr/src/mopsr_aqdsp
mopsr/src/mopsr_aqdsp_hires
mopsr/src/mopsr_bfdsp
mopsr/src/mopsr_corr_fscr
mopsr/src/mopsr_corr_fsum
mopsr/src/mopsr_corr_sum
mopsr/src/mopsr_dadacorrplot_pfb
mopsr/src/mopsr_dadafftplot
mopsr/src/mopsr_dadahistplot
mopsr/src/mopsr_dadapearsoncoeff
mopsr/src/mopsr_dadapowermonitor
mopsr/src/mopsr_dadasftsplit
mopsr/src/mopsr_dadastats
mopsr/src/mopsr_dadatestct
mopsr/src/mopsr_dadatfssplit
mopsr/src/mopsr_dadatxt
mopsr/src/mopsr_dadawaterfallplot
mopsr/src/mopsr_dbTBdb
mopsr/src/mopsr_dbcalib
mopsr/src/mopsr_dbchandb
mopsr/src/mopsr_dbdelaydb
mopsr/src/mopsr_dbib_FST
mopsr/src/mopsr_dbib_SFT
mopsr/src/mopsr_dbintegratedb
mopsr/src/mopsr_dbjoindb
mopsr/src/mopsr_dbnum
mopsr/src/mopsr_dbreblockdb
mopsr/src/mopsr_dbrephasedb
mopsr/src/mopsr_dbresampdb
mopsr/src/mopsr_dbrescaledb
mopsr/src/mopsr_dbselectantsdb
mopsr/src/mopsr_dbsigproc
mopsr/src/mopsr_dbsplitdb
mopsr/src/mopsr_dbstats
mopsr/src/mopsr_dbsumdb
mopsr/src/mopsr_dbtransposedb
mopsr/src/mopsr_dumpplot
mopsr/src/mopsr_fringeplot
mopsr/src/mopsr_genbpdada
mopsr/src/mopsr_getlst
mopsr/src/mopsr_getmd
mopsr/src/mopsr_getns
mopsr/src/mopsr_ibdb_FST
mopsr/src/mopsr_ibdb_SFT
mopsr/src/mopsr_maskplot
mopsr/src/mopsr_numdb
mopsr/src/mopsr_phase_diff_transit
mopsr/src/mopsr_phase_differencer
mopsr/src/mopsr_plot_acs
mopsr/src/mopsr_plot_baseline
mopsr/src/mopsr_plot_baselines
mopsr/src/mopsr_plot_baselines_vivek
mopsr/src/mopsr_plot_cands
mopsr/src/mopsr_print_drifts
mopsr/src/mopsr_pulsedada
mopsr/src/mopsr_solve_delays
mopsr/src/mopsr_solve_delays_spectral
mopsr/src/mopsr_test_ant_sum
mopsr/src/mopsr_test_bfdsp
mopsr/src/mopsr_test_bfdsp_tb
mopsr/src/mopsr_test_calib
mopsr/src/mopsr_test_cpubf
mopsr/src/mopsr_test_delays
mopsr/src/mopsr_test_delays_docjer
mopsr/src/mopsr_test_delays_hires
mopsr/src/mopsr_test_delays_plot
mopsr/src/mopsr_test_hirespacket
mopsr/src/mopsr_test_kernel
mopsr/src/mopsr_test_mergesort
mopsr/src/mopsr_test_rng
mopsr/src/mopsr_test_signal_paths
mopsr/src/mopsr_test_sk_kernel
mopsr/src/mopsr_test_sk_kernel_hires
mopsr/src/mopsr_test_transpose_FT_to_TF
mopsr/src/mopsr_test_transpose_TS_to_ST
mopsr/src/mopsr_udpcorr
mopsr/src/mopsr_udpdb
mopsr/src/mopsr_udpdb_16
mopsr/src/mopsr_udpdb_dual
mopsr/src/mopsr_udpdb_selants
mopsr/src/mopsr_udpdb_thread
mopsr/src/mopsr_udpdump
mopsr/src/mopsr_udpfftplot
mopsr/src/mopsr_udpfftplot_16
mopsr/src/mopsr_udpgen
mopsr/src/mopsr_udpheader
mopsr/src/mopsr_udphist
mopsr/src/mopsr_udphist_16bit
mopsr/src/mopsr_udphist_8bit
mopsr/src/mopsr_udplongprbs
mopsr/src/mopsr_udpplot
mopsr/src/mopsr_udptimeseries
mopsr/src/mopsr_udpundersampleplot
mopsr/src/mopsr_udpvalidate
mopsr/src/mopsr_udpwaterfall
mopsr/src/snapsr_dadacorrplot_full
mopsr/src/snapsr_udpdb
mopsr/src/snapsr_udpfftplot
mopsr/src/snapsr_udpplot
ska1/src/ska1_udpdb
ska1/src/ska1_udpdb_thread
ska1/src/ska1_udpgen
ska1/src/ska1_udptest
ska1/src/ska1_udptest_vma
src/dada_db
src/dada_dbNdb
src/dada_dbcopydb
src/dada_dbdisk
src/dada_dbevent
src/dada_dbgpu
src/dada_dbib
src/dada_dbmeminfo
src/dada_dbmergedb
src/dada_dbmetric
src/dada_dbmonitor
src/dada_dbnic
src/dada_dbnull
src/dada_dbnum
src/dada_dboverflow
src/dada_dbrecover
src/dada_dbscrubber
src/dada_dbud
src/dada_dbxferinfo
src/dada_diskdb
src/dada_edit
src/dada_header
src/dada_ibdb
src/dada_install_header
src/dada_junkdb
src/dada_mem_test
src/dada_nicdb
src/dada_numdb
src/dada_pwc_command
src/dada_pwc_demo
src/dada_udgen
src/dada_udheader
src/dada_write_test
src/dada_zerodb
src/daemon_test
src/dspsr_start_time
src/load_test
src/slow_rm
src/test_disk_perf

