# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects 
*.so
*.so.*

# autoconf
/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.h.in~
/config.sub
/config.h
/config.log
/config.status
/configure
/configure.scan
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/test-driver

# CMake
build/

# M4
config/libtool.m4
config/ltoptions.m4
config/ltsugar.m4
config/ltversion.m4
config/lt~obsolete.m4
autom4te.cache

# makefiles
Makefile
Makefile.in

# directories
.deps/
.libs/

# compiled executeables
Management/psrdada_cflags
Management/psrdada_ldflags
Management/psrdada.pc
apps/dada_corrplot
apps/dada_db
apps/dada_dbNdb
apps/dada_dbcopydb
apps/dada_dbdisk
apps/dada_dbevent
apps/dada_dbgpu
apps/dada_dbib
apps/dada_dbmeminfo
apps/dada_dbmergedb
apps/dada_dbmetric
apps/dada_dbmonitor
apps/dada_dbnic
apps/dada_dbnull
apps/dada_dbnum
apps/dada_dboverflow
apps/dada_dbrecover
apps/dada_dbscrubber
apps/dada_dbud
apps/dada_dbxferinfo
apps/dada_diskdb
apps/dada_edit
apps/dada_header
apps/dada_ibdb
apps/dada_install_header
apps/dada_junkdb
apps/dada_mem_test
apps/dada_nicdb
apps/dada_numdb
apps/dada_pwc_command
apps/dada_pwc_demo
apps/dada_udgen
apps/dada_udheader
apps/dada_write_test
apps/dada_write_block_test
apps/dada_zerodb
apps/daemon_test
apps/dspsr_start_time
apps/load_test
apps/slow_rm
apps/test_disk_perf
examples/src/dada_example_client_writer
examples/src/dada_example_writer
src/tests/test_command_parse_server
src/tests/test_ipcio
src/tests/test_multilog_server

