
NUM_PWC 2       # number of primary write clients (PWCs)
PWC_PORT 56026  # port on which PWCs are listening for command connection

# names of the hosts on which a PWC is running
PWC_0 node02
PWC_1 node03

