NUM_PWC 1       # number of primary write clients (PWCs)
PWC_PORT 56026  # port on which PWCs are listening for command connection

# names of the hosts on which a PWC is running
PWC_0 shrek117

HDR_SIZE 4096
SPEC_PARAM_FILE /home/ssi/ajameson/apsr/psrdada/apsr/config/specification_to_header.txt

